-i https://pypi.org/simple/
aiodns==1.1.1
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
ccxt==1.28.11
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==3.2
greenlet==0.4.15
idna==2.9
influxdb==5.3.0
msgpack==0.6.1
multidict==4.7.6
pycares==3.1.1
pycparser==2.20
pynvim==0.4.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
six==1.14.0
urllib3==1.25.9
yarl==1.1.0
